<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Alfa Cycling</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/Brands.css">
  <link rel="stylesheet" href="/css/Projects-Horizontal.css">
  <link rel="stylesheet" href="/css/Contact-Form-Clean.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="/css/Login-Form-Clean.css">
  <script src="https://cdn.tiny.cloud/1/<%= tiny_api %>/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script>
    tinymce.init({
      selector: '#tiny'
    });
  </script>
</head>

<body>
  <div class="contact-clean" style="background-color: rgb(255,255,255);">
    <form method="post" action="/blogs">
      <h2 class="text-center">New Blog Post</h2>
      <div class="form-group"><input class="form-control" type="text" name="title" placeholder="Blog Title">
      </div>
      <div class="form-group"><input class="form-control" type="text" name="subtitle" placeholder="Blog Subtitle"></div>
      <div class="form-group"><select class="form-control" name="image">
          <optgroup label="Blog Header Image">
            <option selected="">Please choose a blog header image</option>
            <% photos.reverse().forEach((photo, photos) => { %>
            <option value="<%= photo %>"><%= photo %></option>
            <% }) %>
          </optgroup>
        </select></div>
      <div class="form-group"><textarea id="tiny" class="form-control" name="body" placeholder="Body"
          rows="14"></textarea>
      </div>
      <div class="form-group">
        <a href="/blogs"><button class="btn btn-primary"
            style="background-color: #0085a1!important;">Back&nbsp;</button></a>
        <button class="btn btn-primary" type="submit"
          style="background-color: #0085a1!important;margin-left: 10px;">send
        </button>
      </div>
    </form>
  </div>


  <%- include("../partials/footer.ejs") %>