<%- include('../partials/html-top.ejs') %> <%- include('../partials/nav.ejs') %>

<script src="https://cdn.tiny.cloud/1/<%- tiny_api %>/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>tinymce.init({selector: 'textarea'});</script>

<section class="section is-medium">
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-3">
                <h1 class="is-size-1">New blog</h1>
                <form method="POST" action="/blogs" enctype="multipart/form-data">
                    <div class="columns is-multiline">
                        <div class="column is-12">
                            <p class="control ">
                                <input class="input is-medium" type="text" name="title" placeholder="Blog Title">
                            </p>
                        </div>
                        <div class="column is-12">
                            <p class="control ">
                                <input class="input is-medium" type="text" name="subtitle" placeholder="Subtitle">
                            </p>
                        </div>
                        <div class="column is-12">
                            <p class="control ">
                                <textarea name="body" class="textarea" placeholder="Body" rows="10"></textarea>
                            </p>
                        </div>
                        <div class="column is-12">
                            <div class="file has-name is-fullwidth is-primary">
                                <label class="file-label">
                                    <input class="file-input" type="file" name="image">
                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                            Choose a header image
                                        </span>
                                    </span>
                                    <span class="file-name">
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="column is-12">
                            <p class="control">
                                <button class="button is-success" type="submit">
                                    Create
                                </button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<%- include('../partials/footer.ejs') %>
