<%- include('../partials/html-top.ejs') %> <%- include('../partials/nav.ejs') %>

<section class="section is-medium">
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-3">
                <h1 class="is-size-1">Login</h1>
                <form method="POST">
                    <% if (error){ %>
                    <div class="notification is-danger">
                        <%= error %>
                    </div>
                    <% } %>
                    <div class="columns is-multiline">
                        <div class="column is-12">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input is-medium" type="username" name="username" placeholder="Username">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </p>
                        </div>
                        <div class="column is-12">
                            <p class="control has-icons-left">
                                <input class="input is-medium" type="password" placeholder="Password" name="password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <div class="column is-12">
                            <p class="control">
                                <button class="button is-success" type="submit">
                                    Login
                                </button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<%- include('../partials/footer.ejs') %>