<hr>
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item"><a href="https://www.instagram.com/alfacycling_team/"> <span
                                class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i
                                    class="fa fa-instagram fa-stack-1x fa-inverse"></i></span></a></li>
                    <li class="list-inline-item"><a href="https://www.facebook.com/groups/alfacycling.blogspot.gr/">
                            <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i
                                    class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></li>
                    <li class="list-inline-item"><a href="mailto: info@alfacycling.com"> <span class="fa-stack fa-lg"><i
                                    class="fa fa-circle fa-stack-2x"></i><i
                                    class="fa fa-envelope-o fa-stack-1x fa-inverse"></i></span></a></li>
                </ul>
                <p class="text-muted copyright">Copyright&nbsp;©&nbsp;Alfa <%= new Date().getFullYear();%></p>
            </div>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
<script src="/js/main.js"></script>

</body>

</html>