<%- include("partials/header.ejs") %>

<main class="page">
  <section class="clean-block about-us">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">About Us</h2>
        <p style="max-width: 80%">
          Alfa cycling is an amateur team with professional dedication and
          approach to the sport. Consistent of 105 athletes across all
          categories, from Elite Men to Masters,from road racing, triathlon, to
          mountain biking,we try to participate in as many races as possible
          both in Greece and abroad.<br />Goal of the team is to provide
          athletes with opportunities to develop as riders, while having fun at
          the same time.
        </p>
        <p style="max-width: 80%; margin-top: 40px">
          Despite our young history, -the team was founded in 2013- we push the
          boundaries every year, trying to incorporate new challenges, be it
          harder races on the domestic calendar or new challenges abroad, mixing
          it with the professional teams.&nbsp;
        </p>
        <p style="max-width: 80%; margin-top: 40px">
          Sponsor representation comes natural as we force alliances with
          companies which trust our process and team ethics. If you find our
          project interesting why not join the fun?<br />
        </p>
      </div>
      <div class="row justify-content-center" style="margin-top: 90px">
        <div class="col-sm-6 col-lg-4">
          <div class="card clean-card text-center">
            <img
              class="card-img-top w-100 d-block"
              src="/images/about_us/about1.jpg"
            />
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card clean-card text-center">
            <img
              class="card-img-top w-100 d-block"
              src="/images/about_us/about3.jpg"
            />
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card clean-card text-center">
            <img
              class="card-img-top w-100 d-block"
              src="/images/about_us/about2.jpg"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include("partials/footer.ejs") %>
