<%- include("partials/header.ejs") %>

<header class="masthead" style="background-image:url('img/headers/about-bg.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <div class="site-heading">
          <h1>About Us</h1><span class="subheading">This is what We do</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <p>Alfa cycling is an amateur team with professional dedication and approach to the sport. Consistent of 105
        athletes across all categories, from Elite Men to Masters,from road racing, triathlon, to mountain
        biking,we try to participate
        in as many races as possible both in Greece and abroad.<br> Goal of the team is to provide athletes with
        opportunities to develop as riders, while having fun at the same time.<br></p>
      <p>Despite our young history, -the team was founded in 2013- we push the boundaries every year, trying to
        incorporate new challenges, be it harder races on the domestic calendar or new challenges abroad, mixing
        it with the professional
        teams.&nbsp;</p>
      <p>Sponsor representation comes natural as we force alliances with companies which trust our process and
        team ethics. If you find our project interesting why not join the fun?</p>
    </div>
  </div>
</div>
<div style="margin: 30px;">
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <% if(!currentUser){ %>
      <div class="col-md-4 col-xl-4 offset-xl-0"><a class="btn btn-primary btn-block text-center" role="button"
          data-bs-hover-animate="bounce" style="height: 50px;font-size: 11px;" href="login">Moderator Login</a>
      </div>
      <%}else{%>
      <div class="col-md-4 col-xl-4 offset-xl-0"><a class="btn btn-danger btn-block text-center" role="button"
          data-bs-hover-animate="bounce" style="height: 50px;font-size: 11px;" href="logout">Moderator Logout</a>
      </div>
      <%}%>

      <div class="col-md-4"></div>
    </div>
  </div>
</div>

  <%- include("partials/footer.ejs") %>