<%- include("partials/header.ejs") %>

<header class="masthead" style="background-image: url(&quot;img/headers/error.jpg&quot;);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <div class="site-heading">
          <h1>Error!</h1><span class="subheading">Something went horribly wrong.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <p>We could not find the page you are looking for.&nbsp;<i class="fas fa-sad-tear"></i></p>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>