<%- include('partials/html-top.ejs') %> <%- include('partials/nav.ejs') %>

<section class="hero is-large is-danger">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-2">
                Error! Something went horribly wrong.
            </h1>
            <h2 class="subtitle">
                We could not find the page you are looking for.&nbsp;<i class="fas fa-sad-tear"></i></h2>
        </div>
    </div>
</section>

<%- include('partials/footer.ejs') %>
