<%- include("partials/header.ejs") %>
<main class="page gallery-page">
  <section class="clean-block clean-gallery dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Gallery</h2>
        <p>This is what We do<br /></p>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="scenery/image1.jpg"
            ><img
              class="img-thumbnail img-fluid image"
              src="/images/gallery/FB_IMG_1572559361743.jpg"
          /></a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="scenery/image1.jpg"
            ><img
              class="img-thumbnail img-fluid image"
              src="/images/gallery/20170514_topiko_antoxi_d50-9042-(ZF-1764-71372-1-002).jpg"
          /></a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="scenery/image5.jpg"
            ><img
              class="img-thumbnail img-fluid image"
              src="/images/gallery/DCEA6EAA-1635-4AD6-9B6B-AD7E6240E934.jpg"
          /></a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="scenery/image4.jpg"
            ><img
              class="img-thumbnail img-fluid image"
              src="/images/gallery/20190407-atticarace1022_D75_0182-(ZF-3615-77687-1-004).jpg"
          /></a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="scenery/image6.jpg"
            ><img
              class="img-thumbnail img-fluid image"
              src="/images/gallery/20190630-nationalmen_D75_0044.jpg"
          /></a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="scenery/image1.jpg"
            ><img
              class="img-thumbnail img-fluid image"
              src="/images/gallery/72E27226-6E32-4031-84FD-76493018D4D9.jpg"
          /></a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="scenery/image4.jpg"
            ><img
              class="img-thumbnail img-fluid image"
              src="/images/gallery/FB_IMG_1537897984644.jpg"
          /></a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="scenery/image6.jpg"
            ><img
              class="img-thumbnail img-fluid image"
              src="/images/gallery/FB_IMG_1550993135070.jpg"
          /></a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="scenery/image5.jpg"
            ><img
              class="img-thumbnail img-fluid image"
              src="/images/gallery/FB_IMG_1554801266576.jpg"
          /></a>
        </div>
      </div>
    </div>
  </section>
</main>
<%- include("partials/footer.ejs") %>
