<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Alfa Cycling</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/Brands.css">
  <link rel="stylesheet" href="/css/Projects-Horizontal.css">
  <link rel="stylesheet" href="/css/Login-Form-Clean.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>

<body>
  <div class="login-clean" style="background-color: rgb(255,255,255);">
    <form method="post">
      <h2 class="sr-only">Login Form</h2>
      <div class="illustration"><i class="icon ion-ios-navigate" style="color: #0085a1;"></i></div>
      <div class="form-group"><input class="form-control" type="username" name="username" placeholder="User Name"></div>
      <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
      <div class="form-group"><button class="btn btn-primary btn-block" type="submit"
          style="background-color: #0085a1;">Log In</button></div>
      <% if(message.length) {%>
      <div class="alert alert-success" role="alert"
        style="margin-bottom: 0px;margin-top: 16px;background-color: #ff0035;color: rgb(255,255,255);">
        <span style="font-size: 15px;"><strong><%=message%></strong></span></div>
      <%}%>
    </form>
  </div>

  <%- include("partials/footer.ejs") %>