<%- include("partials/header.ejs") %>
<main class="page service-page">
  <section class="clean-block clean-services dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info"><strong>Our Sponsors</strong><br /></h2>
        <p>
          We couldn't exist without their help, why not put your name among
          them?
        </p>
      </div>
      <div class="row justify-content-center align-items-center">
        <div class="col-md-6 col-lg-4">
          <div class="card">
            <img
              class="card-img-top w-100 d-block"
              src="/images/sponsors/alpescapital_logo.png"
              style="max-height: 200px"
            />
            <div class="card-body">
              <h4 class="card-title"><strong>Alpës Capital</strong><br /></h4>
              <p class="card-text">
                Alpës Capital is a multi-family office in Switzerland serving
                families<br />with unbiased and independent advice to maintain
                and grow their wealth.
              </p>
            </div>
            <div>
              <button class="btn btn-outline-primary btn-sm" type="button">
                Learn More
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card">
            <img
              class="card-img-top w-100 d-block"
              src="/images/sponsors/cookworld_logo.png"
              style="max-height: 200px; height: 200px"
            />
            <div class="card-body">
              <h4 class="card-title"><strong>Cook World</strong><br /></h4>
              <p class="card-text">
                An online marketplace with cookware products for all kind of
                tastes.<br />
              </p>
            </div>
            <div>
              <button class="btn btn-outline-primary btn-sm" type="button">
                Learn More
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card">
            <img
              class="card-img-top w-100 d-block"
              src="/images/sponsors/drugstore_logo.png"
              style="height: 200px"
            />
            <div class="card-body">
              <h4 class="card-title"><strong>Drug Store</strong><br /></h4>
              <p class="card-text">
                Drug-store.gr is an online e-shop for the physical pharmacy of
                Christos Pontikis at kalamata.<br />
              </p>
            </div>
            <div>
              <button class="btn btn-outline-primary btn-sm" type="button">
                Learn More
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card">
            <img
              class="card-img-top w-100 d-block"
              src="/images/sponsors/fgi_logo.png"
              style="height: 180px"
            />
            <div class="card-body">
              <h4 class="card-title">
                <strong>Fairway Global Investment</strong><br />
              </h4>
              <p class="card-text">
                Fairway Global Investment is an independent Swiss Asset Manager
                and Multi Family Office based in Zurich.<br />
              </p>
            </div>
            <div>
              <button class="btn btn-outline-primary btn-sm" type="button">
                Learn More
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card">
            <img
              class="card-img-top w-100 d-block"
              src="/images/sponsors/petrolko_logo.png"
              style="height: 180px"
            />
            <div class="card-body">
              <h4 class="card-title"><strong>Petrolko</strong><br /></h4>
              <p class="card-text">
                Petrolko manages buildings from 1978.<br />
              </p>
            </div>
            <div>
              <button class="btn btn-outline-primary btn-sm" type="button">
                Learn More
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card">
            <img
              class="card-img-top w-100 d-block"
              src="/images/sponsors/whitebox_logo.png"
              style="height: 180px"
            />
            <div class="card-body">
              <h4 class="card-title">
                <strong>White Box Crossfit</strong><br />
              </h4>
              <p class="card-text">
                White Box is a crossift lab based in palaio faliro, Athens.<br />
              </p>
            </div>
            <div>
              <button class="btn btn-outline-primary btn-sm" type="button">
                Learn More
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<%- include("partials/footer.ejs") %>
