<%- include("partials/header.ejs") %>

<header class="masthead" style="background-image:url('/img/headers/sponsors-bg.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <div class="site-heading">
          <h1>Our Sponsors</h1><span class="subheading">We couldn't exist without their help, why not put your name
            among<br> them?<br></span>
        </div>
      </div>
    </div>
  </div>
</header>
<div style="margin: 30px;"></div>
<div class="projects-horizontal">
  <div class="container">
    <div class="intro"></div>
    <div class="row projects">
      <div class="col-sm-6 item">
        <div class="row">
          <div class="col-md-12 col-lg-5"><a href="http://www.alpescapital.com/"><img class="img-fluid"
                src="/img/logos/rgb-logos/alpescapital_logo.png"></a></div>
          <div class="col">
            <h3 class="name">Alpës Capital</h3>
            <p class="description">Alpës Capital is a multi-family office in Switzerland serving families <br>with
              unbiased and independent advice to maintain and grow their wealth.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 item">
        <div class="row">
          <div class="col-md-12 col-lg-5"><a href="http://www.fwgi.ch/"><img class="img-fluid"
                src="/img/logos/rgb-logos/fgi_logo.png"></a></div>
          <div class="col">
            <h3 class="name">Fairway Global Investment</h3>
            <p class="description">Fairway Global Investment is an independent Swiss Asset Manager and Multi Family
              Office based in Zurich.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 item">
        <div class="row">
          <div class="col-md-12 col-lg-5"><a href="https://whiteboxcrossfit.gr/"><img class="img-fluid"
                src="/img/logos/rgb-logos/whitebox_logo.png"></a></div>
          <div class="col">
            <h3 class="name">White Box Crossfit</h3>
            <p class="description">White Box is a crossift lab based in palaio faliro, Athens.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 item">
        <div class="row">
          <div class="col-md-12 col-lg-5"><a href="https://www.cookworld.gr/"><img class="img-fluid"
                src="/img/logos/rgb-logos/cookworld_logo.png"></a></div>
          <div class="col">
            <h3 class="name">Cook World</h3>
            <p class="description">An online marketplace with cookware products for all kind of tastes.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 item">
        <div class="row">
          <div class="col-md-12 col-lg-5"><a href="https://petrolko.gr/"><img class="img-fluid"
                src="/img/logos/rgb-logos/petrolko_logo.png"></a></div>
          <div class="col">
            <h3 class="name">Petrolko</h3>
            <p class="description">Petrolko manages buildings from 1978.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 item">
        <div class="row">
          <div class="col-md-12 col-lg-5"><a href="https://www.drug-store.gr/el/"><img class="img-fluid"
                src="/img/logos/rgb-logos/drugstore_logo.png"></a></div>
          <div class="col">
            <h3 class="name">Drug Store</h3>
            <p class="description">Petrolko manages buildings from 1978.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>